@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Quem ama livros tem sempre uma biblioteca dentro de si.</p>

    <div>
        <img src="~/images/LivroIndex.png" />
    </div>
</div>
